<h1>page show works!</h1>
<p>{{t}}<p>

{% if tt|length != 0  %}

{% set total = 0 %}

<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
    </tr>
    {% for element in tt %}
    {% set total = total + element.salaire %}

        <tr>
            <td>{{element.id}}</td>
            <td>{{element.name | upper}}</td>  <!--upper trodou majuscule -->
            <td>{{element.salaire}}</td> 
            <td><a href="{{path('app_details',{'id':element.id})}}">Details</td>
        </tr>
        {%endfor%}
</table>
{% else %}
<p> pas d'element </p>
{% endif %}            

{% if tt is empty %}</p>
    pas d'element
</p>
{% endif %}

{% if 5 not in [1,2,3,5] %}
5 non present
{% endif %}

<br>

<h1> somme des salaire : {{total}} </h1>

<img src="/images/img.jpg" widh ="300" height="200">